
<!DOCTYPE html>
<html lang="en">

<head>
    <script>
            var masterURL = "http://165.22.241.11:3000" //CLOUD
            //var masterURL = "http://127.0.0.1:3000" //LOCAL
    </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Quantum Data Technologies - IoT Portal</title>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
  <link href="css/spinners.css" rel="stylesheet">
  <link href="assets/scroll.css" rel="stylesheet">

  





</head>


<body>
        
<div id="spinner">
    <div class="preloader" >
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Quantum Data Technologies</p>
        </div>
    </div>
</div>


  <section id="container">

    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
            <div class="sidebar-toggle-box">
              <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <!--  -->
            <a href="" class="logo"> <img src="img/qlogo.png"height="40" width="120"/></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
              <!--  notification start -->
              <ul class="nav top-menu">
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge bg-warning" id="myspan">0</span>
                    </a>
                  <ul class="dropdown-menu extended notification scrollable-menu" id="bellMenu">
                    <div class="notify-arrow notify-arrow-yellow"></div>
<!--                     <li>
                      <p class="yellow">You have 7 new notifications</p>
                    </li>
                    <li>
                      <a href="index.html#">
                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                        Server Overloaded.
                        <span class="small italic">4 mins.</span>
                        </a>
                    </li>
                    <li>
                      <a href="index.html#">
                        <span class="label label-warning"><i class="fa fa-bell"></i></span>
                        Memory #2 Not Responding.
                        <span class="small italic">30 mins.</span>
                        </a>
                    </li>
                    <li>
                      <a href="index.html#">
                        <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                        Disk Space Reached 85%.
                        <span class="small italic">2 hrs.</span>
                        </a>
                    </li>
                    <li>
                      <a href="index.html#">
                        <span class="label label-success"><i class="fa fa-plus"></i></span>
                        New User Registered.
                        <span class="small italic">3 hrs.</span>
                        </a>
                    </li>
                    <li>
                      <a href="/alarms">See all notifications</a>
                    </li> -->
                  </ul>
                </li>
                <!-- notification dropdown end -->
              </ul>
              <!--  notification end -->
            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                  <!-- <a href="index.html" class="logo"><b>Andrew Collins<span> Engineer</span></b></a> -->
                <li><a class="logout" href="/sign_out">Logout</a></li>
              </ul>
            </div>
          </header>
          <!--header end-->
      
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <h5 class="centered"><%= loggedInName %></h5>
          <h5 class="centered">Access Level: <%= loggedInTag %></h5>
<!--           <li class="mt">
            <a href="index.html">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li> -->
          <li>
                <a href="control">
                  <i class="fa fa-desktop"></i>
                  <span>Control</span>
                  </a>
          </li>
          <li class="sub-menu">
                <a href="javascript:;">
                  <i class=" fa fa-bar-chart-o"></i>
                  <span>Charts</span>
                  </a>
                <ul class="sub">
                  <li><a href="live_charts">Live Charts</a></li>
                  <li><a href="dual_live_charts">Dual Live Charts</a></li>
                  <li><a href="data_charts">Historical Charts</a></li>
                </ul>
          </li>
          <li>
                <a href="data_tables">
                <i class="fa fa-table"></i>
                <span>Data Tables</span>
                </a>
          </li>
          <li>
              <a href="alarms">
              <i class="fa fa-bell-o"></i>
              <span>Alarms</span>
              </a>
          </li>
          <li>
              <a href="devices">
              <i class="fa fa-hdd-o"></i>
              <span>IoT Devices</span>
              </a>
          </li>
          <li>
              <a href="sign_out">
              <i class="fa fa-sign-out"></i>
              <span>Logout</span>
              </a>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
<!--         <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
        <div class="row mt">
          <div class="col-lg-12">
            <p>Place your content here.</p>
          </div>
        </div> -->
        <script src="lib/jquery/jquery.min.js"></script>
        <%- body %>
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights 2019 <strong>Quantum Data Technologies</strong>. All Rights Reserved.
        </p>
        <a href="blank.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    
    
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="lib/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="lib/jquery.scrollTo.min.js"></script>
    <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="lib/common-scripts.js"></script>
    <!--script for this page-->
  


</body>


</html>

<script>
window.onload = function(){
  console.log("LOADED!");
  var spinnerToDelete = document.getElementById("spinner");
  while (spinnerToDelete.firstChild) {spinnerToDelete.removeChild(spinnerToDelete.firstChild);}
}

</script>



<script>
  //ALARM BELL SCRIPTS
function ClearList(){
  var clearBellAlarmListURL = masterURL + "/deletebellalarms/<%= loggedInPool %>";
      $.ajax({ type: "GET", url: clearBellAlarmListURL, contentType: "application/json; charset=utf-8", crossDomain: true, dataType: "json",
          success: function (data, status, jqXHR) {
          console.log("alarm bell list cleared!");
          //$("#bellMenu").empty();
          LoadAlarmBell();

          var alarmBellListToClear = document.getElementById("bellMenu");
          while (alarmBellListToClear.firstChild) { alarmBellListToClear.removeChild(alarmBellListToClear.firstChild); }
          },
          error: function (jqXHR, status) {console.log("ERROR");}
      });
}


BellUpdater();

function BellUpdater(){
  LoadAlarmBell();
  setTimeout(BellUpdater, 60000);
}
function LoadAlarmBell(){
  var alarmbellURL = masterURL + "/triggeredbellalarmlist/<%= loggedInPool %>/";
      $.ajax({ type: "GET", url: alarmbellURL, contentType: "application/json; charset=utf-8", crossDomain: true, dataType: "json",
          success: function (data, status, jqXHR) {
              if (data != null)
              {
                  var alarmBellListToClear = document.getElementById("bellMenu");
                  while (alarmBellListToClear.firstChild) { alarmBellListToClear.removeChild(alarmBellListToClear.firstChild); }
                  var bellCount = 0;
                  var dataCount = data.length
                  notiCount = '<div class="notify-arrow notify-arrow-yellow"></div><li><p class="yellow"> ' + dataCount +' Alarms Triggered</p></li>'
                  $('#bellMenu').append(notiCount);
                  clearListDiv = '<li><a href="#" onclick="ClearList()">Clear List</a></li>';
                  $('#bellMenu').append(clearListDiv);
                  data.forEach(element => {
                      bellCount ++;
                      var jsTime = new Date(element.alarmTriggeredAt);
                      let hoursDiff = jsTime.getHours() + jsTime.getTimezoneOffset() / 60;
                      let minutesDiff = (jsTime.getMinutes() + jsTime.getTimezoneOffset()) % 60;
                      jsTime.setHours(hoursDiff + 1);
                      jsTime.setMinutes(minutesDiff);
                      var bellAlertTime = jsTime.toLocaleString();
                      //var newAlert = $('<li class="body"> <div class="media" id="bellMenu"> <div class="media-body"> <span class="name">' + element.deviceName + '<span class="time">' + bellAlertTime +'</span></span> <span class="message">' + element.alarmName + '</span> </div> </div> </li>');
                      var newAlert = $('<li> <a href="/alarms"> <span class="label label-danger"><i class="fa fa-bell"></i></span> ' + element.alarmName +'<span class="small italic"> <br>'+ element.deviceName +' <br> ' + bellAlertTime + '</span></a></li>')
                      $('#bellMenu').append(newAlert);
                  });
                  document.getElementById("myspan").textContent=bellCount;
              }
              else {console.log("EXPRESSED DATA NULL!")}},
          error: function (jqXHR, status) {console.log("ERROR");}
      });
}
</script>
